
@{
    ViewBag.Title = "Học Sinh";
    ViewBag.Main = "Trang chủ học sinh";
    Layout = "~/Views/Shared/_LayoutArea.cshtml";
}

<section>
    <div class="gap2 gray-bg" style="min-height: 85vh">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h5>Trang chủ học sinh</h5>
                </div>
            </div>
        </div>
    </div>
</section>

